.bee {
    width: 100%;
    top: 50%;
    rotate: 90deg;
    position: absolute;
    animation: rotateBeesAnimation infinite 1s linear alternate;
}

.divBee {
    left: 0%;
    position: absolute;
    width: 3%;
    
}

#map { height: 180px; }

@keyframes flyBeesAnimation {
    0% {
        left: 0%;
    }

    100% {
        left: 95%;
    }
}

@keyframes rotateBeesAnimation {
    0% {
        rotate:75deg;
    }

    100% {
        rotate: 105deg;
    }
}

#title {
    font-size: 1300%;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;

    b {
        position: relative;
        animation: upDownLetters infinite 1s alternate linear;
    }
}

@keyframes upDownLetters {
    0% {
        top: -20%;
    }

    100% {
        top: 20%;
    }
}

#map {
    border: 2px solid #000;
    width: 75%;
    height: 75%;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#interativeMap {
    width: 100%;
    height: 100%;
}



#text {
    display: flex;
    justify-self: center;
    align-items: center;
    text-align: center;
}