@keyframes animBeesLogo {
    0% {
        top: -5%;
    }

    25% {
        top: 0%;
    }

    50% {
        top: -5%;
    }

    75% {
        top: -10%;
    }

    100% {
        top: -5%;
    }

}

#divRegister {
    min-width: 50%;
    min-height: 50%;
    background-color: #a2a800;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    border-radius: 15px;
    color: #111;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}

#divRegisterArea1>* {
    margin: 5%;
}

#divRegisterArea1>h1 {
    position: relative;
    left: -10%;
    font-size: 300%;
}

#divRegisterArea1>label>b {
    position: relative;
    left: -40%;
    font-size: 125%;
}

#divRegisterArea1>label>input {
    width: 175%;
    height: 25px;
    position: relative;
    left: -40%;
    border-radius: 0px 15px 15px 0px;
    border: none;
    background-color: #111;
    color: #ffff00;

}

#divRegisterArea1>label>input:focus {
    background-color: #ffff00;
    color: #111;
}

#divRegisterArea1>label>input::placeholder {
    color: #111;
    font-weight: bold;
}

#divRegisterArea1>label>input::placeholder {
    font-weight: bold;
    color: #ffff00;
    padding: 5px;
}

.lblInpCreate {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

#btnLogin,
#btnCreate {
    width: 90%;
    height: 40px;
    border-radius: 15px;
    border: none;
    background-color: #111;
    color: #ffff00;
    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

    >a {
        color: #ffff00;
    }

}

#btnLogin:hover,
#btnCreate:hover {
    background-color: #ffff00;
    color: #111;

    >a {
        color: #111;
    }
}

#divRegisterArea1,
#divRegisterArea2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 50%;
    height: 100%;
}

#divRegisterArea2 {
    background-color: #737d00;
}

.imgBeeBtn {
    width: 8%;
    position: relative;
    animation: animBees 750ms infinite;
}

#imgBeeBtn1 {
    transform: rotate(-45deg);
    left: 13%;
    top: 10%;
}

#imgBeeBtn2 {
    transform: rotate(45deg);
    left: -13%;
    top: 10%;
}

@keyframes animBees {
    0% {
        top: 10%;
    }

    25% {
        top: 15%;
    }

    50% {
        top: 10%;
    }

    75% {
        top: 5%;
    }

    100% {
        top: 10%;
    }

}

#lblBtnCreate {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}